
  <div class="producttitle">
  <span>
  <strong><%= product.name %></strong>
  </span>
  <span>
  <% 5.times do |i| %>
   <%= content_tag(:i, '', class: "fa-solid fa-star", style: "color: gold") %>
  <%end%>
  </span>
    
  </div>

  <p>
    
    <%= product.description %>
  </p>

  <p>
    <%= number_to_currency(product.price) %>
   
  </p>


    



  

 

